
.projects-container
    width: 80%
    height: 60vh
    transform: translateY(20vh)
    margin-left: auto
    margin-right: auto

.title
    display: block
    font-family: 'Poppins', sans-serif
    width: 100%
    text-align: center
    font-size: 5vw
    color: white
    margin-bottom: 5vh 

.carousel-container
    margin-top: 10vh     

.video-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.video-title
    display: block
    font-family: 'Poppins', sans-serif
    width: 100%
    text-align: center
    color: white
    font-size: 2vw
    font-weight: 200
    z-index: 100

iframe
    width: 30vw
    height: 20vw

    