
.projects-container
    width: 80%
    height: 50vh
    transform: translateY(15%)
    margin-left: auto
    margin-right: auto

.splide, ,.splide__track
    height: 100%

.projects-container .title
    display: block
    font-family: 'Poppins', sans-serif
    width: 100%
    text-align: center
    font-size: 5vw
    color: white
    margin-bottom: 5vh 

.carousel-container
    margin-top: 10vh     

.video-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.video-title
    display: block
    font-family: 'Poppins', sans-serif
    width: 100%
    text-align: center
    color: white
    font-size: 2vw
    font-weight: 200
    z-index: 100

.carousel-video
    width: 30vw
    height: 20vw

@media screen and (orientation:portrait)
    .projects-container
        width: 80%
        height: 70vh
        transform: translateY(5%)
        margin-left: auto
        margin-right: auto


    .projects-container .title
        display: block
        font-family: 'Poppins', sans-serif
        width: 100%
        text-align: center
        font-size: 6vw
        color: white
        margin-bottom: 5vh 